{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "unused-imports",
        "@typescript-eslint"
    ],
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "unused-imports/no-unused-imports": "error"
    }
}